@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(
    to left top,
    #b0a8b9,
    #aea7c1,
    #aaa6c9,
    #a3a6d2,
    #99a6db,
    #9ba8dd,
    #9ca9de,
    #9eabe0,
    #acaedb,
    #b6b2d5,
    #beb6d0,
    #c3bbcc
  ) !important; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: inline-flexbox;

  place-items: center;
  /* width: 100% !important;
   */
  min-width: 320px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
